<h1>All Shops</h1>

<style>
  table {
    border-collapse: collapse;
  }
  th, td {
    border: 1px solid blue;
    padding: 10px;
    text-align: left;
  }
</style>


<table>
  <thead>
    <tr>
      <td>Name</td>
      <td>Address</td>
    </tr>
  </thead>
  <tbody>
    <% @shops.each do |shop| %>
      <tr class="shop-row" id="<%= dom_id(shop) %>">
        <td class="name"><a href="/shops/<%= shop.id %>"><%= shop.name %></a></td>
        <td class="address"><%= shop.address %></td>
      </tr>
    <% end %>
  </tbody>
</table>