<style>
	.container {
		margin: auto;
		width: 60%;
  		border: 3px solid #73AD21;
  		padding: 10px;
	}
</style>
<div class="container">
<h1><%= @user.username %></h1>
email: <%= @user.email %>
<br />
<a id='writereviewlink' href='<%= "/users/" + @user.id.to_s + "/write" %>'>write a review!</a>
</div>