<h1>All Tacos</h1>
<table>
  <thead>
    <tr>
      <td>Name</td>
      <td>Shell</td>
      <td>Image</td>
    </tr>
  </thead>
  <tbody>
    <% @tacos.each do |taco| %>
      <% myshell = Shell.where(:id => taco.shell_id).pluck(:soft) %>
      <% if(myshell[0] == true) then shellword = "soft" else shellword = "hard" end %>
      <tr class="taco-row" id="<%= dom_id(taco) %>">
        <td class="name"><%= taco.name %></td>
        <td class="shell"><%= shellword %></td>
        <td class="image_url"><img src="<%= taco.image_url %>"></td>
      </tr>
    <% end %>
  </tbody>
</table>